{% extends 'layout.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}
{% block title %}
    Available Courses
{% endblock %}
{% block header-content %}
    <h1>Welcome to the school of Mathematics</h1>
    <h2>The wonderful place where we will learn ins and outs of elementary math through fun games and quizes</h2>
{% endblock %}
{% block section-content %}
    <p>List of all the available courses</p>
    <nav>
        <ul>
            {% for course in courses %}
                <li>
                    <h2><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></h2>
                    {% if course.description|wordcount <= 5 %}
                        <h3>{{ course.description }}</h3>
                    {% else %}
                        <h3>{{ course.description|truncatewords:5 }}</h3>
                        <a href="{% url 'courses:detail' pk=course.pk %}">Read More</a>
                    {% endif %}
                    <div>Created on: {{ course.created_at|date:'F j, Y' }}</div>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div>Have questions? Contanct me at {{ email|urlize }}</div>
{% endblock %}