{% extends 'layout.html' %}
{% load embed_video_tags %}
{% load humanize %}


{% block title %}
    {{ course.title }}
{% endblock %}

{% block header-content %}

    <h2
        class="text-center text-primary">
        {{ course.title }}
    </h2>

    <hr>
    <br>

    <p
      class="lead text-center">
        {{ course.description }}
        <br>
        <br>
        There {{ course.video_set.count|pluralize:'is, are' }} {{ course.video_set.count|apnumber }}
        step{{ course.video_set.count|pluralize }} in this course: {{ course.video_set.all|join:', ' }}
    </p>

    <br>

    <ul
      class="list-group"">
        {% for step in steps %}
            <li
              class="list-group-item"">
                <a
                  href="{{ step.get_absolute_url }}">
                    <br>
                    <p
                      class="line"></p>

                    <h3 class="text-center text-primary text-light ">
                            {{ step.title }}
                    </h3>
                    <p
                      class="text-center">
                        {{ step.description }}
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

