{% extends 'layout.html' %}
{% load embed_video_tags %}


{% block title %}
    {{ video.title }} - {{ video.course.title }}
{% endblock %}

{% block header-content %}
    <h2
      class="text-center text-primary">

        <a
          href="{% url 'courses:detail' pk=video.course.pk %}">

            {{ video.course.title }}
        </a>
    </h2>

    <hr>
    <br>

    <h3
        class="lead text-center">{{ video.title }}</h3>
        {% with desc=video.description %}
            <p
              class="text-center">
                {{ desc }}
            </p>
        {% endwith %}
    </h3>

    <br>
    <p class="line"></p>
    <br>

    {% video video.video_url as my_video %}
        <div
            class="videoWrapper">

            {% video my_video "large" %}
        </div>
    {% endvideo %}

{% endblock %}

{% block section-content %}
    <p class="line"></p>
    <p
      class="lead text-center">
        Now that you're set up and ready
        <br>
        we suggest you to test your knowledge <a href="{{ quiz.get_absolute_url }}">here.</a></p>
    <br>
    <br>
{% endblock %}



