{% extends 'layout.html' %}
{% load humanize %}

{% block title %}
    School of mathematics
{% endblock %}

{% block header-content %}
    <div class="container">
        <div class="page-header">
            <h2
              class="text-center text-primary">

                Welcome to the school of Mathematics
            </h2>

            <smal>
                <p
                  class="text-center text-primary lead">

                    The wonderful place where we will learn ins and outs of elementary math
                    <br>
                    through fun games and quizes
                </p>
            </smal>
        </div>
    </div>
{% endblock %}

{% block section-content %}
    <div>

        <p
          class="lead text-center text-info">

            At the moment we have {{ courses.count|apnumber }} courses available.
            <br>
            Some of our most recent courses, that were published this month are:
        </p>
    </div>

    <br>

    {% for course in courses %}

        <div
          class="panel info">

            {% now "F" as current_month %}
            {% if current_month == course.created_at|date:'F' %}
            <h4
                class="text-center text-primary">
                {{ course }}
            </h4>
            {% endif %}
        </div>
    {% endfor %}

    <br>
    <br>

    {{ block.super }}

{% endblock %}