{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block static %}{% endblock %}
</head>
<body>
    <header>
        <nav>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'courses:list' %}">Courses</a>

        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'register' %}">Register</a>
        {% else %}
        <a href="{% url 'logout' %}">Log Out</a>
        {% endif %}
        </nav>
        {% block header-content %}
        {% endblock %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
    <section>
        {% block section-content %}
            <h3>You can see the list of all available courses <a href="{% url 'courses:list' %}"> here</a></h3>
            <div>
                <h3>Also if you would like to suggest what course we should do next feel free to leave your
                    suggestion <a href="{% url 'suggestion'%}">here</a><h3>
            </div>
        {% endblock %}
    </section>
    <footer>
        <p>&copy; 2017 School of mathematics</p>
    </footer>
</body>
</html>